[2021-06-25 17:11] pragmaticivan opened #5 "Add unit tests"

[2021-06-25 17:14] pragmaticivan opened #6 "Add Husk and Lint Stage"

[2021-06-25 17:14] pragmaticivan opened #7 "Enforce Conventional Commits"

[2021-06-25 17:14] pragmaticivan opened #8 "Create Method Decorator Counter for Metrics"

[2021-06-25 17:14] pragmaticivan opened #9 "Create Instance Decorator Counter for Metric"

[2021-06-25 17:21] pragmaticivan opened #10 "Create Grafana Example for API Metrics"

[2021-06-25 22:34] pragmaticivan opened #11 "Create a CatchAll ExceptionsFilter"
Register a Counter:

[code]

Support config: `withExceptionFilter`

It should conditionally replace `provide: APP_FILTER,` if enabled.

[2021-06-25 22:44] pragmaticivan opened #12 "Standardize all time based metrics in Seconds"

[2021-06-27 17:00] pragmaticivan opened #16 "Support buckets as config on middleware for api-metrics"

[2021-06-27 20:10] pragmaticivan commented on #6
Done

[2021-06-27 20:10] #6 closed

[2021-06-27 20:10] pragmaticivan commented on #7
Done

[2021-06-27 20:10] #7 closed

[2021-06-27 20:16] pragmaticivan opened #19 "Add integration tests"

[2021-06-28 07:50] mentos1386 opened #20 "Exposing metrics using exporter-colector instead of exporter-prometheus"
Currently documentation has this section defined:

[code]

Which makes me think that i MUST use prometheus exporter for metrics exporter and can't use something like [@opentelemetry/exporter-collector](https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-exporter-collector) instead of it.

To be clear, i would like to use `@opentelemetry/exporter-collector` instead o

[2021-06-28 13:53] pragmaticivan commented on #20
I like it, still getting familiar with all the available packages, Hopefully, nobody else is using that package yet, because that change will require a major version

[2021-06-28 18:38] pragmaticivan opened #21 "Consolidate Status Codes for Labels"
Groupings:
[code]

[2021-06-28 21:52] #12 closed

[2021-06-28 21:52] #16 closed

[2021-06-28 21:53] pragmaticivan opened #24 "Fix `API Metrics with Middleware` table content on README.md"
![Screen Shot 2021-06-28 at 4 53 36 PM](https://user-images.githubusercontent.com/301291/123708640-65550580-d831-11eb-9993-cb7e94d2988f.png)

[2021-06-29 03:09] #24 closed

[2021-06-29 13:20] pragmaticivan opened #26 "Implement http_server_aborts_total metric on middleware"

[2021-06-29 13:21] pragmaticivan opened #27 "Implement http_client_aborts_total on middleware"

[2021-06-29 13:21] pragmaticivan opened #28 "Implement http_connection_error_total on Middleware"

[2021-06-29 13:21] pragmaticivan opened #29 "Implement http_request_size_bytes on Middleware"

[2021-06-29 13:21] pragmaticivan opened #30 "Implement http_response_size_bytes on Middleware"

[2021-06-29 13:22] pragmaticivan opened #31 "Implement http_slow_request_total on Middleware"

[2021-06-29 17:19] pragmaticivan commented on #20
Progress can be followed here: https://github.com/pragmaticivan/nestjs-otel/pull/32

[2021-06-29 17:20] pragmaticivan commented on #20
Might need to drop node SDK because it's not very extensible.

For ref: https://github.com/open-telemetry/opentelemetry-js/issues/2307

[2021-06-29 21:37] #20 closed

[2021-06-29 21:43] pragmaticivan commented on #20
@mentos1386 It was released. Sorry about not going Major but I'm assuming nobody is using that yet. 1.4.0 is the release.

[2021-06-29 22:26] pragmaticivan commented on #10
Look into possibly using https://tanka.dev/ for that

[2021-07-01 21:26] benitezho opened #42 "Http auto instrumentation fails when using @FileInterceptor"
Sample fork : https://github.com/benitezho/nestjs-otel

Using: nodeJS 16.1.0

### Description
I uploaded a sample nestjs main module ready to run.
In the example i created a *AppController* that outputs on the console the active span from the current context, the line that reproduces the issue its:
`// @UseInterceptors(FileInterceptor('field'))`
If you uncomment this line, the active span from the

[2021-07-01 22:33] pragmaticivan commented on #42
Hi @benitezho I was able to run that repo locally and replicate the problem. It appears it's actually related to open telemetry http instrumentation. I would suggest opening a ticket on https://github.com/open-telemetry/opentelemetry-js.

It appears other folks had the same problem previously: https://gitter.im/open-telemetry/opentelemetry-node?at=5f2136f33eef7e1ffe3f423c
<img width="1239" alt="Sc

[2021-07-01 22:34] pragmaticivan commented on #42
The parts you are using are not dependent on anything from that lib after all.

[2021-07-01 22:34] pragmaticivan commented on #42
If you can try to replicate the example outside next with just an express server and multer

[2021-07-02 00:35] pragmaticivan commented on #42
Will leave it open for a bit. I was able to configure a raw example of express and multer. https://github.com/pragmaticivan/express-multer-otel-bug and was not able to reproduce the error.

I also found that having multiple routes, where one has multer, disables http instrumentation alltogether.

[2021-07-02 00:41] pragmaticivan commented on #42
I was also able to verify it's fully related to `FileInterceptor`.

[2021-07-02 09:49] kosmos opened #43 "SyntaxError: Unexpected token '.'"
I am getting the following error:
[code]

With the following configuration:
[code]

packaje.json
[code]

Perhaps you know what could be the problem?

[2021-07-02 12:22] kosmos commented on #43
Looks like the problem is that you use ES2020. It is not supported by node 12.

[2021-07-02 13:43] pragmaticivan opened #44 "Add engine script to enforce node version"

[2021-07-02 13:43] pragmaticivan commented on #43
@kosmos that's the case. I have a ticket to show that once someone installs this package. I've started this project with LTS due to limited time to support multiple versions.

[2021-07-02 14:34] kosmos opened #45 "Problem with more then one span"
I observe very strange behavior. If the application has more than one span, then information about them is not sent to the collector (I use Jaeger).

This works and I can see span in Jaeger:
[code]

But this code does not send any spans to Jaeger:
[code]

I also get the same  behavior if I add any nested span using TraceService or if I add any instrumentation.

I use next config:
[code]

[2021-07-02 14:35] #43 closed

[2021-07-02 15:17] pragmaticivan commented on #45
Wiill take a look. Might be related to `https://github.com/pragmaticivan/nestjs-otel/issues/42`

[2021-07-02 15:41] kosmos commented on #45
Looks like the problem in JaegerExporter. If I replace it with ConsoleExporter I can see more spans. Or that can be a probblem with UDP ports of Jaeger in Docker.

[2021-07-02 15:58] benitezho commented on #42
@pragmaticivan Using Multer through Nestjs's module configuration fixes the problem with the otel active context, avoiding the use of @FileInterceptor decorator.
See https://github.com/benitezho/nestjs-otel/commit/68017239b3d2a74b709a70ee5e792cc60f87f0ba

With that said, i guess the problem its with how @FileInteceptor uses multer under the hood, i didn't look through the @FileInterceptor source c

[2021-07-07 03:46] pragmaticivan commented on #45
@kosmos

Try setting that:

[code]

before `OpenTelemetryModule.forRoot`.

It seems to be related to the jaeger package integration with docker:

[code]

Is that what you are getting?

[2021-07-07 03:51] pragmaticivan commented on #45
It seems to be related to Jaeger lib usage.

Try:
[code]

[2021-07-07 03:52] pragmaticivan commented on #45
Closing that for now. Feel free to message here if that's not the case.

[2021-07-07 04:10] #45 closed

[2021-07-14 03:21] pragmaticivan commented on #45
@chrismllr I've just added a full example: https://github.com/pragmaticivan/nestjs-otel/tree/main/examples/nestjs-prom-grafana-tempo

This one has grafana + prometheus + tempo + jaeger ui.
In the logs you can copy the `traceId` and can search it on Jaeger UI or Tempo directly on Grafana.

[2021-07-20 10:55] issackr commented on #11
Thanks for the great work!
might be nice to support GraphQL from the beginning:
https://github.com/digikare/nestjs-prom/issues/47

[2021-07-20 13:37] pragmaticivan commented on #11
Nice! Will keep that in mind for sure. Same for supporting Fastify.

[2021-07-22 14:23] issackr commented on #19
Hey, I created PrometheusModule for metrics based on the package and I'm trying to test it but get the error:
Nest can't resolve dependencies of the MetricService (?). Please make sure that the argument OpenTelemetryMeterProvider at index [0] is available in the PrometheusModule context.

this is my module:
import { Module } from "@nestjs/common";
import { LoggerModule } from "../../logger/logger.

[2021-07-22 14:50] pragmaticivan commented on #19
MetricService is injected globally wehn you use that lib. What you are trying to do is to inject the service rectly into another module without any other dependency being available.

In you main app you need  `OpenTelemetryModule.forRoot(` to be called in your imports for all the dependencies of this service to be available.

Is there a reason you would be creating a prometheus service? MetricServ

[2021-07-22 16:16] issackr commented on #19
basically you are right but I used interceptor to meter all requests and I noticed that the counters are reset each time if not injected one by one, so I wrapped it with a module that is MetricService alike.

Regarding the error, I added OpenTelemetryModule.forRoot() to my PrometheusModule and now I get another error:
Nest can't resolve dependencies of the OpenTelemetryCoreModule

[2021-07-23 17:16] pragmaticivan commented on #19
Hey @issackr could you share more on that issue? when you mean reset each time if not injected, what you mean by that? It should reuse the existing one.

[2021-07-23 19:32] AlexandreBrg opened #48 "Getting route match path instead of full route"
Hello!

First of all, nice package, very useful for Prometheus. Then, I'm experimenting Prometheus and its metrics (and observability overall), so I'm pretty new.

## Context

Currently, my application expose metrics based on all paths (which is something great), until I noticed that **every** path is exposed in metrics. For instance, a route matching `/api/v1/users/:userId` will creates a metric

[2021-07-23 19:40] pragmaticivan commented on #48
hi, @AlexandreBrg I will take a look and check for recommendations on that pattern.

The current behavior might be more verbose but you can already regex match that label for the expected behavior.

Something like: `{path=~"/api/v1/videos/*."}` in your prometheus query

[2021-07-23 19:42] pragmaticivan commented on #48
I might end up with something like `path="/api/v1/videos/{videoId}"` to reduce buckets though.

[2021-07-24 04:36] #48 closed

[2021-07-24 04:37] pragmaticivan commented on #48
@AlexandreBrg merged here: https://github.com/pragmaticivan/nestjs-otel/pull/49

[2021-07-24 06:10] AlexandreBrg commented on #48
Oh great, you are right it was a bit more about reducing buckets than editing the query from Prometheus side. Your update is working perfectly!

It is awesome to be that fast, thank you for this feature.

[2021-07-24 12:29] pratimsc commented on #42
@pragmaticivan - any advice on how to use this, when `FileInterceptor` is used?
The instrumentation works great, with all apps, except where `FileInterceptor` is used.

[2021-07-24 21:13] pragmaticivan commented on #42
Hi @pratimsc I'm still looking into FileInterceptor problem. It appears the dependencies for that get load after instrumentation.

A workaround is to use Multer as a middleware (which is the same thing FileInterceptor does) ex: https://github.com/benitezho/nestjs-otel/commit/68017239b3d2a74b709a70ee5e792cc60f87f0ba

[2021-07-25 07:33] issackr commented on #19
@pragmaticivan Sure, it means the counters value aggregators remain on 1 after each call, no matter how many call you make. Regarding the injection I meant like in other libraries which you need to inject each counter your'e using (not generic enough for me), anyway I solved it by wrapping my metric in another map of my own like in MetricService.
I can share the code if you like.
Anyway, do you ha

[2021-07-25 09:13] issackr commented on #19
@pragmaticivan I also migrated my project to nest 8, maybe this is whats making problems

[2021-07-25 14:10] pragmaticivan commented on #19
Ohh I haven't tested with nest 8, there might be a problem there indeed.

[2021-07-25 14:14] pragmaticivan commented on #48
@AlexandreBrg while adding more tests today I found a small bug. Please update to 1.8.1 for the fix.

[2021-07-25 14:36] #21 closed

[2021-07-25 16:28] pragmaticivan commented on #19
I think I found the bug you mentioned while adding more tests today.

https://github.com/pragmaticivan/nestjs-otel/pull/52

[2021-07-25 16:31] pragmaticivan commented on #19
`release 1.8.2` should have the fix @issackr

[2021-07-25 18:47] AlexandreBrg commented on #48
Done 👍

[2021-07-26 07:08] issackr commented on #19
@pragmaticivan Looks awesome, thanks for the great work! still having the testing  ModuleRef issue though

[2021-07-26 13:40] #44 closed

[2021-07-26 13:42] pragmaticivan commented on #19
@issackr I just fixed the reuse of metrics. I haven't tested on NestJS 8.x yet. They have changed a lot of things. Might need to test a new example this week.

[2021-07-27 01:18] pragmaticivan opened #54 "nestjs-otel v2"
It's time to start tracking the v2 development. Here is a shortlist of things I am planning to do - there will be most probably more, but we need to start somewhere :] Feel free to suggest new things!

## Progress
- [ ]

## Breaking Changes

- [ ] Remove `nodeSDKConfiguration` param and expect NodeSDK to be created via node require instead. Otel Node SDK works best if initialized before anything f

[2021-07-28 00:49] pragmaticivan commented on #19
fyi @issackr a lot of the problems I found when I created that lib are going to be fixed in this PR: https://github.com/pragmaticivan/nestjs-otel/pull/55

It will require a Major version though.

[2021-07-28 00:52] pragmaticivan commented on #42
@pratimsc @benitezho a lot of the problems I found when I created that lib are going to be fixed in this PR: https://github.com/pragmaticivan/nestjs-otel/pull/55

It will require a Major version though. FYI.

[2021-07-28 00:58] #54 closed

[2021-07-28 01:00] pragmaticivan commented on #42
This should be fixed here: https://github.com/pragmaticivan/nestjs-otel/releases/tag/v2.0.0

[2021-07-28 01:00] #42 closed

[2021-07-28 06:26] issackr commented on #19
@pragmaticivan Tnx for the update, I'm definitely gonna use it

[2021-07-28 22:26] pragmaticivan opened #59 "Update example to latest NestJS v8"

[2021-07-30 15:52] pragmaticivan opened #60 "Document Logger section with Otel Instrumentation option"
https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-pino

[2021-08-02 22:20] pragmaticivan commented on #59
Done!

[2021-08-02 22:20] #59 closed

[2021-08-06 03:49] #10 closed

[2021-08-06 12:48] #8 closed

[2021-08-08 08:15] AugustDev opened #80 "Documentation for integrating with Grafana Cloud"
Currently we can access logs, traces and metrics locally. Could you explain how to integrate it with Grafana cloud?

[2021-08-12 16:29] pratimsc opened #81 "Version 2.2.0 is not compatible with NestJS 7.x"
The version 2.2.0 requires npm packages from NestJs version 8.x.

This forces the application developed using NestJS 7.x to use `--legacy-peer-deps`.

Could the library be updated to support both NestJS 7.x and NestJS 8.x

[2021-08-12 16:42] pragmaticivan commented on #81
@pratimsc yeah, PRs are welcome. I agree with your concern. Might take a look soon

[2021-08-12 22:32] pratimsc commented on #81
I am not a NestJS expert :) . But let me try making changes and creating a PR.

[2021-08-12 22:40] pragmaticivan commented on #81
Might need to make the nestJS libs peer dependency but something like `"react": "^15.0.0 || ^16.0.0",` should probably cover that in the package.json

[2021-08-12 22:42] pragmaticivan commented on #81
https://github.com/pragmaticivan/nestjs-otel/blob/main/package.json#L75-L76 Just need to apply the same pattern on those 2 lines.

[2021-08-13 10:25] pratimsc commented on #81
@pragmaticivan - I have submitted a pull request, please review and merge if you are happy with changes.

[2021-08-13 10:38] pratimsc commented on #81
What needs to be done to release this merge as `v2.2.1`

[2021-08-13 15:59] pratimsc commented on #81
@pragmaticivan - The review comments implemented.
And a new change was introduced, to overcome a run-time error reported by NestJS 7 based applications, during testing at my end.

[2021-08-13 17:43] pragmaticivan commented on #81
Pr merged.

[2021-08-13 17:43] #81 closed

[2021-08-18 17:36] cramhead opened #85 "Question: Installation issues"
I'm trying to integrate your package into an existing Nestjs 7 app. I've basically copied and pasted the example from the readme, but it seems to fail when I attempt to get a span. I'm very new to OpenTelemetry so can't really say I have much of a conceptual model to support debugging.

The code that generates the error is from the readme example
![image](https://user-images.githubusercontent.com/

[2021-08-19 01:29] pragmaticivan commented on #85
hi @cramhead could you provide some insight on your trace.ts + nestjs-otel setup? I've just tested everything you posted here in the example. It works. Did you end up setting up the trace file like in the example?

[2021-08-19 01:29] pragmaticivan commented on #85
I will push my example changes in a few min.

[2021-08-19 01:30] pragmaticivan commented on #85
<img width="1910" alt="Screen Shot 2021-08-18 at 8 30 29 PM" src="https://user-images.githubusercontent.com/301291/129993343-b33fd068-c0ed-4fd2-84ab-951891e4616d.png">
Example of a custom span I created

[2021-08-19 18:28] cramhead commented on #85
Hi @pragmaticivan,

Thanks for helping.
The `trace.ts`. Note: commented to process import as it was causing an error. Otherwise, it's a direct copy and paste from the readme The shutdown does log correctly.
[code]

The tracing.ts is imported and otelSDK.start is tied into the boot sequence. We have multiple mains so previously i had missed one. Fixed now.
![image](https://user-images.githubusercon

[2021-08-19 18:33] cramhead commented on #85
Super cool screenshot. I'm looking forward to seeing this too

[2021-08-20 12:54] pragmaticivan commented on #85
@cramhead would you by any chance be on NestJS Discord? might be faster if I help you through messages and maybe a quick pair prog.

[2021-08-20 16:57] cramhead commented on #85
I've used Discord, but really only as a message board. It would be great if we could pair program some. My user is marc.dentremont#5299

[2021-08-20 21:05] pragmaticivan commented on #85
Closing as you got it working, thanks!

[2021-08-20 21:06] #85 closed

[2021-08-20 21:07] pragmaticivan commented on #9
Done

[2021-08-20 21:07] #9 closed

[2021-08-30 12:48] pratimsc opened #87 "CVE-2021-23337 impacts lodash package"
Ref: http://cve.mitre.org/cgi-bin/cvename.cgi?name=2021-23337

Lodash contains a flaw that is triggered as input supplied to templates is not properly validated. This may allow an authenticated remote attacker to inject arbitrary commands.

[2021-08-30 12:59] pragmaticivan commented on #87
Thanks, @pratimsc. Will very likely get rid of lodash altogether this week.

[2021-08-31 11:51] pragmaticivan commented on #87
Hi @pratimsc I actually have removed it already in the latest version. You might be seeing lodash from nestjs instead of this package.

[2021-08-31 11:51] #87 closed

[2021-09-01 11:50] dmdeklerk opened #100 "Possible problem with NestJs 7.6.18 - Error: TypeError: req.get is not a function"
With NestJs 7.6.18 (uses fastify 3.14.0) and nestjs-otel 2.4.0 we get the following error in our otherwise working app.
We are in the process of upgrading to NestJS 8 and will report if the problem persists.

**To reproduce**

Navigate to any route in the application

**Side note 1**

http://localhost:8081/metrics **does** work

**Side note 2**

The advertized Discord inivite link seems to be expi

[2021-09-01 12:53] dmdeklerk commented on #100
Same behavior on NestJs 8+

Seems Fastify does not allow `req.get()` to get the content length at location below.

[code]

https://github.com/pragmaticivan/nestjs-otel/blob/main/src/middleware/api-metrics.middleware.ts#L124-L125

Perhaps `req.headers[]` provides these properties for Fastify? https://github.com/fastify/fastify/blob/main/lib/request.js#L163

[2021-09-01 12:55] pragmaticivan commented on #100
@dmdeklerk thanks for reporting! Will take a look soon. PRs are also welcome 🎉

[2021-09-01 13:05] dmdeklerk commented on #100
I can confirm that with NestJs 8+ with Fastify Adapter and **nestjs-otel 2.3.0** run fine.

Thank you for this great tool @pragmaticivan it is of great help to get Prometheus metrics up and running fast for NestJs apps. We will be sure to report anything we run into.

[2021-09-01 13:21] pragmaticivan commented on #100
@dmdeklerk discord link was updated. Try it now, thanks for the reminder!

[2021-09-17 21:52] pragmaticivan opened #101 "Investigate temporarelly wrap current Metric spec interface with underlying prometheus lib"
Because the JS SDK metric API is experimental and really behind. It might be worth using the Prometheus client for metrics until that gets updated.

[2021-09-23 22:50] danshapir opened #102 "apiMetrics not working (nest v8)"
All the apiMetrics aren't showing up in the metrics page, only the default system ones are.

Using the basic snippet.
[code]

if I only have apiMetrics enabled, I get:
[code]
as the metrics response. I have no idea how, but one in around 500 tries I saw for a second the needed metrics, but can't reproduce - so in general, it doesn't work.

[2021-09-24 00:49] pragmaticivan commented on #102
@danshapir are you using express or fastify ?

[2021-09-24 01:33] pragmaticivan commented on #102
Could you share more info about your your project? In the example folder I actually have added an example with nests 8.x.

[2021-09-24 06:38] danshapir commented on #102
Using express, pino.
I debugged the code, the API metrics middleware runs and the counters are changing, but not displayed on the metrics endpoint

[2021-09-24 21:10] danshapir commented on #102
@pragmaticivan latest version on all packages

[2021-09-24 21:20] pragmaticivan commented on #102
@danshapir I'm not able to replicate with any of the examples, would you be able to create a replicable repo I could take a look? Right now it's really hard to figure out what's the problem.

[2021-09-24 22:35] danshapir commented on #102
@pragmaticivan My bad! I didnt await the otelSDK.start() in the main.ts.

I'll hijack this issue for another issue. the defaultLabels parameter for the opentelemetryModule doesn't work - it just ignores what I pass in.

[2021-09-26 03:35] pragmaticivan commented on #102
Released in 2.5.0.  `defaultLabels` is available inside `apiMetrics` property. Some metric plugins don't allow custom labels yet.

[2021-09-26 03:35] #102 closed

[2021-10-08 12:49] mihkelviilveer opened #123 "API metrics dynamic labels"
I cannot find a way to add dynamic labels to prometheus metrics. I can see that middleware extracts some data from request (like path and status code) but would it be possible to add a callback which would return dynamic labels to middleware? I have some custom parameters from NestJS what I need to publish in Prom metrics.

[2021-10-10 18:09] pragmaticivan commented on #123
I might need some days to implement that as I'm pretty busy getting ready for something else, but PRs are welcome if you have some time to spare.

[2021-10-13 09:33] petrzjunior opened #129 "Arrow function breaks class methods"
Commit 12fa02c introduced the following change:
[code]
The difference between `function` and arrow function is that arrow function modifies `this` keyword to be taken from definition scope. This causes problems when decorating class methods:
[code]
`method()` should return `42`, but when decorated, it actually returns `undefined`, because `this` no longer refers to the class instance.
I suggest th

[2021-10-13 13:52] pragmaticivan opened #131 "Create tests for Decorators"

[2021-10-13 14:12] #129 closed

[2021-11-10 16:10] pragmaticivan opened #148 "Move examples into external repos."

[2021-11-14 12:01] RobertLowe opened #149 "otel/opentelemetry-collector-dev:latest no longer ships with extensions"
`otel/opentelemetry-collector-dev:latest` no longer ships with extensions

[code]

https://github.com/pragmaticivan/nestjs-otel/blob/main/examples/nestjs-prom-grafana-tempo-otel-collector/docker-compose.yml#L76

The last working image I found was:  `otel/opentelemetry-collector-dev:20ac40ae3c535195341bdcefef07f98a1ecedcf1`

You can see here: https://github.com/open-telemetry/opentelemetry-collecto

[2021-11-16 16:18] SunilManthenaG01 opened #150 "Nestjs jaeger trace with dns lookup"
Hi, I am using this library for tracing with open telemetry and jaeger exporter.
For the incoming request to the nestjs service I see in jaeger, it is reporting as DNS lookup rather than an HTTP request. Is there anything wrong with my configuration?

const otelSDK = new NodeSDK({
  resource: new Resource({
    [SemanticResourceAttributes.SERVICE_NAME]: 'nest-otel-lib',
  }),
  spanProcessor: new

[2021-11-16 16:54] pragmaticivan commented on #150
Hi @SunilManthenaG01 Otel instrumentation `always` should come before any import. Because you are putting the code in the same file, you might not get the behavior you expect. In the examples the `trace.ts` code is in a different file and is the first to be imported for that reason.

[2021-11-16 17:59] SunilManthenaG01 commented on #150
@pragmaticivan  Thank you for your response.

I tried that way. I created a trace.ts file and imported that file first but still the same result.

main.ts
import otelSDK from './trace';
import { resolve } from 'path';
process.env.APP_ROOT_DIR = resolve(`${__dirname}`);

const bootstrap = async () => {
  await otelSDK.start();
  const { appDispatcher } = await import('wms-bff-core');
  const { AppM

[2021-11-22 21:49] MarcStdt opened #151 "Package broken with newest opentelemetry dependencies"
When using the latest opentelementy packages (0.27.0), the Nest application fails to start with the following error:

[code]

[2021-11-22 22:03] pragmaticivan commented on #151
That's actually great news 😂  I will try to patch that up this weekend, It will require a major version though. I've been keeping track of this release for a while but some packages might be moved somewhere else FYI.

Ref: https://github.com/open-telemetry/opentelemetry-js/issues/2480

[2021-11-25 15:14] pragmaticivan opened #153 "Use Renovate instead of dependably and ignore examples folder"
ref: https://github.com/renovatebot/renovate

[2021-11-26 14:11] IamBlueSlime opened #154 "TraceService returning the wrong span"
Hi,

I'm a little confused with the documentation of the interaction between the `@Span` decorator and the `TraceService`. From what I've understood, `TraceService.getSpan` function returns the latest opened span of the currently active context. This means that, with the following snippet, the log should output `TestService.myHelper`.

[code]

My issue here is that it does not work as expected:

1

[2021-12-02 03:32] ChakshuGautam opened #163 "Context Propagation in Microservices."
Hey, great library, it realIy makes it easier to bootstrap things up. Feel this is a **how to** and should be a Stack overflow question.

I wanted to check if there is something I can use to propagate context from one MS to another. I am using the Nestjs transports for this. I am always manually add traceIDs to messages and use them as parent traceIDs in subsequent transactions. Is there a more id

[2021-12-02 14:50] pragmaticivan commented on #163
Howdy! You can do so by setting up a context propagation method.

An example can be found here: https://github.com/pragmaticivan/nestjs-otel/blob/main/examples/nestjs-prom-grafana-tempo/src/tracing.ts#L23-L33

You can use multiple formats to propagate your context to another app. The most common is B3, but Context is increasing in adoption, so I usually have both.

[2021-12-03 14:11] elbasan commented on #151
any news?

[2021-12-03 14:34] pragmaticivan commented on #151
howdy @elbasan there's a WIP Pr coming up to fix that. Unfortunatelly since metrics API was experimental, there is not `major version bumps`.

[2021-12-03 14:37] elbasan commented on #151
Hey there, thanks for the quick response. Could you maybe tell me about to which versions i should downgrade the otel libaries so it still works

[2021-12-03 15:05] pragmaticivan commented on #151
@elbasan I need to check again but my current project is running `0.24.0`.

[2021-12-09 04:19] blastZ opened #165 "Question of the span decorator"
Hi, I am confused with this code, why `context.with` use `context.active` ?

In my opinion it will cause `parentSpan` always be the `rootSpan` without `context.with` in the code.

[code]

I think it should be

[code]

For example

[code]

current `Span` decorator won't let `f1` be the child of `f2`

Thanks for your help.

[2021-12-10 19:29] SunilManthenaG01 commented on #150
After some debugging, I see the issue is because I am using spdy listening on h2 protocol. If I switch that to HTTP 1.1 I can see the traces in jaeger but if the server protocol is h2 I can not see the traces.

Do we need to change anything if we need to make the trace work for h2 protocol?

[2021-12-10 20:10] pragmaticivan commented on #150
I think h2 requires keys. At this point, I would recommend using an open telemetry-collector instead to receive your tracing and metrics. It can redirect things into Jaeger. I'm not super familiar with sending it directly to Jaeger in a production env. In my context it has TLS and it's required to be used.

[2021-12-11 18:30] #26 closed

[2021-12-11 18:30] #27 closed

[2021-12-11 18:30] #28 closed

[2021-12-11 18:30] #29 closed

[2021-12-11 18:30] #30 closed

[2021-12-11 18:30] #31 closed

[2021-12-11 18:30] #5 closed

[2021-12-11 18:30] #19 closed

[2021-12-11 23:55] #60 closed

[2021-12-12 00:16] pragmaticivan commented on #80
Howdy @AugustDev I will close this one because it kinda goes really out of the scope of this project.  Create a stack overflow and link this issue. This can be done via opentelemetry-js more than using this package.

One suggestion is to use a opentelemetry-collector that sends metrics and traces to Grafana cloud. Grafana has some docs once you create an account.

[2021-12-12 00:16] #80 closed

[2021-12-12 00:16] #131 closed

[2021-12-12 00:17] pragmaticivan commented on #123
Closing due to inactivity.

[2021-12-12 00:17] #123 closed

[2021-12-12 00:17] #148 closed

[2021-12-12 00:18] pragmaticivan commented on #150
Btw, the part that actually sends the trace comes from using nodejs-sdk (open telemetry). Closing this issue for now as you found a workaround.

[2021-12-12 00:18] #150 closed

[2021-12-12 00:19] #153 closed

[2021-12-12 00:20] pragmaticivan commented on #163
Btw, as long the http server and http clients used in your project are instrumented properly, you should be able to get propagation automatically.

[2021-12-12 00:20] #163 closed

[2021-12-12 01:55] ChakshuGautam commented on #163
Hey thanks for the prompt reply. Apologies for not getting back on this earlier. To give you the context on the transport that I am using - RabbitMQ right now but will move to Kafka. Both have different ways how they handle data. RabbitMQ implementation in NestJS doesn't allow for custom headers to be sent with the message and hence facing the issue. I am little new to auto-instrumentation and don

[2021-12-12 02:14] pragmaticivan commented on #163
Hi @ChakshuGautam both Kafka itself and your client library should be able to be instrumented.

My recommendation for your is to look up which client you are using for Kafka or RabbitMQ and look for the right instrumentation.

For example: https://www.npmjs.com/package/opentelemetry-instrumentation-kafkajs

should help you create spans for Kafka calls.

Instrumentations should go here: https://git

[2021-12-13 04:00] ChakshuGautam commented on #163
Got it. Thanks for all the help. I am hoping auto instrumentation will work for Kafka if not for MQ. Will share an update when I am done.

[2021-12-14 14:09] marcbachmann commented on #151
I've fixed the compatibility with opentelemetry 0.27 in https://github.com/marcbachmann/opentelemetry-node-metrics/pull/3

[2022-01-03 08:15] Djiit opened #171 "How to pass observation callback to an observableGauge ?"
Hey there,

it looks like I'm not able to pass a observation callback to the getObservabieGauge method, but only a name and options.

I expect to be able to pass name, options and an observation callback as in https://github.com/open-telemetry/opentelemetry-js/blob/main/experimental/packages/opentelemetry-sdk-metrics-base/examples/metrics/metrics/observer.js#L27-L33. Is this expected?

Thanks

[2022-01-03 10:44] mentos1386 commented on #165
I think i'm having the same issue. In the following example, `OtaQueue.processOtaTaskEvent` should be parent of `OtaQueue.processProcessingStep` but it isn't. They are on the same "level".
![image](https://user-images.githubusercontent.com/1910649/147921617-bf624a5f-1c8e-4cb6-803d-dfe54c3e99f6.png)

This is produced by the following code:
[code]

[2022-01-03 10:48] mentos1386 commented on #154
Might be related with #165.

[2022-01-03 13:11] #171 closed

[2022-01-03 13:12] pragmaticivan commented on #171
Fixed, thanks!

[2022-01-03 13:14] pragmaticivan commented on #165
Howdy! I will take a look at it today, sorry about the delay!

[2022-01-03 13:14] pragmaticivan commented on #154
Howdy! I will take a look at it today, sorry about the delay!

[2022-01-03 15:15] Djiit commented on #171
That was fast! Thanks!

[2022-01-04 18:45] mentos1386 commented on #165
@pragmaticivan no problem. Thanks for working on this in your spare time! And happy new year :)

[2022-01-04 20:25] pragmaticivan commented on #165
@mentos1386 I will need to dig a bit more because this seems to only be happening when using standalone classes with no previous instrumentation, right? (ex: Controllers not used)

[2022-01-04 21:19] mentos1386 commented on #165
@pragmaticivan i cant say if it only happens when not using controllers, but in my case yes.

It's not called by "rest" or "graphql" but it's part of AWS SQS in our case. So there is no instrumentation from controllers,  but there is instrumentation by the aws-sdk (the first two spans on my previous comment with image).

[2022-01-21 12:15] clayrisser opened #173 "Track http requests"
Track http api calls, for example whenever I make api calls with axios from the server.

[2022-01-26 10:35] mentos1386 commented on #173
@clayrisser i think that should be covered by https://www.npmjs.com/package/@opentelemetry/instrumentation-http.

[2022-02-10 10:17] CzernyJ opened #192 "Readme not up to date"
Looks like the suggested tracing.ts mentioned in the Readme is not up to date.

`HttpTraceContextPropagator` needs to be  `W3CTraceContextPropagator`
`HttpBaggagePropagator` needs to be  `W3CBaggagePropagator`

`import { BatchSpanProcessor } from '@opentelemetry/tracing';` needs to be `import {BatchSpanProcessor} from '@opentelemetry/sdk-trace-base';`

[2022-02-22 11:13] Eroo36 commented on #192
It worked for me after making changes according to your comment. Will create a PR to change the README with these changes.

[2022-02-22 16:57] pragmaticivan commented on #192
Thanks!! PRs are appreciated. Sorry about the delay, white a hard month for me. ;/

[2022-02-22 20:23] pragmaticivan commented on #192
FYI, this full example has the new changes https://github.com/pragmaticivan/nestjs-otel/blob/c11cfa377df82ac8443a5cd95790e6d499b823d8/examples/nestjs-prom-grafana-tempo/src/tracing.ts

[2022-03-07 14:27] yusef-ho opened #211 "Type 'AsyncLocalStorageContextManager' is not assignable to type 'ContextManager'."
Hello, i have the following issue occured.
<img width="1552" alt="Screen Shot 2022-03-07 at 10 27 13 PM" src="https://user-images.githubusercontent.com/33569998/157052847-51d00fca-e083-4868-89be-c1d51fe9eb61.png">

[2022-03-22 14:24] mentos1386 commented on #211
@yusef-ho make sure you are using correct versions of all the otel dependencies. https://github.com/open-telemetry/opentelemetry-js#compatibility-matrix

[2022-03-23 16:45] Peter-Barrett commented on #192
I'm having issues with the initial setup even with those changes, I'm getting ```Type 'BatchSpanProcessor' is not assignable to type 'SpanProcessor'.``` here ` spanProcessor: new BatchSpanProcessor(new JaegerExporter()),`. i have tried using older versions of the libraries with no luck. Does anyone have a solution?

[2022-03-23 16:53] Peter-Barrett commented on #192
As always is the way, I found the solution almost immediately after posting. The opentelemetry packages need to be pinned to `<1.1.0` as `1.1.0` isn't compatible with `@opentelemetry/sdk-node` which hasn't been updated yet.

[2022-03-24 20:12] #154 closed

[2022-03-24 20:12] #165 closed

[2022-03-29 16:46] pragmaticivan opened #230 "Move examples into a new repos"

[2022-03-30 08:23] petrzjunior opened #231 "Remove unnecessary files from package bundle"
I noticed that there are many unnecessary files in the npm bundle such as tests, examples, .editorconfig, .vscode, tsbuildinfo and others. The source files are probably useless as well. You might consider removing them to lower the bundle size.
https://unpkg.com/browse/nestjs-otel@3.0.4/

[2022-04-20 14:38] hesham-desouky commented on #48
Hi @pragmaticivan
We tested this on  NestJS with fastify using version 3.0.1
This is our registration code

` OpenTelemetryModule.forRoot({
      metrics: {
        hostMetrics: true, // Includes Host Metrics
        defaultMetrics: true, // Includes Default Metrics
        apiMetrics: {
          enable: true, // Includes api metrics
          timeBuckets: [], // You can change the default time b

[2022-04-20 20:05] simakwm opened #244 "Add custom labels for default and host metrics"
Fala Ivan, blz?

Is there a way to add custom labels when setting defaultMetrics and/or hostMetrics to `true`?

Thanks in advance.

[2022-04-20 22:08] pragmaticivan commented on #244
[code]
That block:
[code]

If that's not working, please open a ticket :D

[2022-04-21 12:58] simakwm commented on #244
Thanks for the quick response!
It sets labels only for apiMetrics. Not for hostMetrics or defaultMetrics =/

[2022-04-21 17:46] pragmaticivan commented on #48
@hesham-desouky that might be a bug, would you mind opening a ticket?

[2022-04-21 19:26] pragmaticivan commented on #244
@simakwm sorry for the delay here. Just double-checked. Both packages to provide these metrics don't support additional labels. Your best bet right now is to relabel your metrics in your own ServiceMonitor if you are using Prometheus Operator or something like that.

[2022-04-21 19:26] #244 closed

[2022-04-22 00:30] hesham-desouky opened #245 "Default API metrics for NestJS with fastify records full url path instead of full route"
NestJS version:  8.0.0
nestjs-otel version: 3.0.1

NestJS-otel initialization code

`
    OpenTelemetryModule.forRoot({
      metrics: {
        hostMetrics: true, // Includes Host Metrics
        defaultMetrics: true, // Includes Default Metrics
        apiMetrics: {
          enable: true, // Includes api metrics
          timeBuckets: [], // You can change the default time buckets
          ign

[2022-04-28 09:46] stubbi opened #246 "src/tracing.ts:30:22 - error TS2322: Type 'Instrumentation[]' is not assignable to type 'InstrumentationOption'."
Hi there,

I am facing some issues with the `tracing.ts` from the `Readme`:

[code]

For reference, this should be the interesting part of dependencies in `package.json` and I am happy to provide more information if needed:

[code]

Am I using some incompatible versions?

[2022-05-01 02:58] MattGson commented on #151
This still seems to be broken:

[code]

[2022-05-01 06:26] marcbachmann commented on #151
The dependencies got updated on the branch `main`: https://github.com/pragmaticivan/nestjs-otel/commit/c2f8b7b9fbe116953521fb6b5d7f4648d09d7712#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R42

[2022-05-02 03:15] pragmaticivan commented on #230
Done!

[2022-05-02 03:15] #230 closed

[2022-05-02 03:36] pragmaticivan commented on #246
hi @stubbi, I've only tested 0.27.x packages. Specially for `auto-instrumentations-node`.

Be aware that API has been changing very often, so I suggest only updating it occasionally until they make some of it stable this year.

https://github.com/pragmaticivan/nestjs-otel-prom-grafana-tempo should be working.

[2022-05-02 03:36] #246 closed

[2022-05-02 03:37] pragmaticivan commented on #246
Feel free to comment so I can re-open this ticket if you can't make it work with 0.27x

[2022-05-02 03:40] pragmaticivan commented on #173
Yes, indeed, it should cover that.

[2022-05-02 03:40] #173 closed

[2022-05-02 03:40] pragmaticivan opened #262 "Add new metrics following semantic convention"

[2022-05-02 03:41] pragmaticivan commented on #192
This seems to be fixed now.

[2022-05-02 03:41] #192 closed

[2022-05-02 03:55] pragmaticivan commented on #151
@MattGson could you share which packages you are using? (versions)

I have it working here https://github.com/pragmaticivan/nestjs-otel-prom-grafana-tempo (latest released version)

[2022-05-02 03:57] pragmaticivan commented on #211
Closing this one. Please comment if you are still getting this error.

Working example: https://github.com/pragmaticivan/nestjs-otel-prom-grafana-tempo

[2022-05-02 03:57] #211 closed

[2022-05-04 13:39] simakwm commented on #151
@MattGson Maybe you forgot to do  `await otelSDK.start()` ?

[2022-05-04 19:19] simakwm opened #263 "What about middlewares?"
I noticed api metrics are not available if response is created and returned from a nest middleware.
Is there anything I can do on the middleware itself to get api metrics of it?

[2022-05-05 10:42] simakwm commented on #263
Nevermind. I found It has something to do with the nestjs's middleware order =/

[2022-05-05 10:42] #263 closed

[2022-05-17 10:33] dkrylovdotcom commented on #151
The same problem:

[code]

package.json:
[code]

`await otelSDK.start();` in place, but it seems like problem happens when NodeSDK constructs

[2022-05-19 07:27] schoenbergerb commented on #151
same problem, but if I set `metrics.defautMetrics` to `false` in the module options the service comes up

[2022-05-28 14:54] fuergaosi233 commented on #151
It works for me, and I have to turn off this switch to use it

[2022-05-29 16:59] fuergaosi233 opened #265 "How to add Prefix to Metrics"
I have a lot of applications that are being punctuated and I would like to add prefixes to them, I am currently adding prefixes to each Metrics manually, is there a uniform way to add them? For example, adding the prefix parameter to the Option.

[2022-05-29 22:54] pragmaticivan commented on #265
@fuergaosi233 this library does not currently support prefix. I could support it as a property but the underlying libraries would not be able to support that for metrics. ex: https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/packages/opentelemetry-host-metrics/src

[2022-05-29 23:04] pragmaticivan commented on #151
Investigating the changes, be aware that metrics SDK in JS is not stable and this package support for metrics aim to give it as a tease before 1.0. It's unlikely you might get quick support by underlying packages, so I would slow down a bit on updating packages related to metrics.

[2022-06-01 06:43] AlexandreBrg opened #266 "Distributed tracing"
Hi,

I was wondering if you'd know if there are any propagators working "out-of-the-box" that can parse tracing headers given by another service ? We've been using your library for several services, and now we're integrating distributed tracing in all of them, that's why I ask.

I know there are HttpPropagator and ExpressPropagator, but as there are still very experimental (even more than most OTe

[2022-06-01 08:21] AlexandreBrg commented on #266
For now, I ended up with a POC through a nest interceptor.

[code]

[2022-06-08 08:43] issackr commented on #151
hey @pragmaticivan I'm using the same packages versions from here:
https://github.com/pragmaticivan/nestjs-otel-prom-grafana-tempo

but still get such errors:
[gateway] Error in getConfigurations: this.metricService.getValueRecorder is not a function

where metricService is
import { MetricService } from 'nestjs-otel';

[2022-06-25 11:06] brpaz commented on #151
Hello. I am also getting this error:

[code]

From what I understood this was fixed [here](https://github.com/marcbachmann/opentelemetry-node-metrics/pull/7) in the `opentelemetry-node-metrics.`. which is already the version on the main branch on this repo, but not in the latest released tag.

@pragmaticivan Any chance to create a new release?

[2022-06-26 20:00] pragmaticivan commented on #266
Hi @AlexandreBrg what you did will likely work on NestJS side but There might be a way that you can plug your own propagator that reads from B2 in the NodeJS SDK. Unlikely to be solved by this lib though, sorry.

[2022-06-26 20:00] #266 closed

[2022-06-30 01:04] 1eedaegon commented on #151
For those in a hurry, here is a solution:

const OpenTelemetryModuleConfig = OpenTelemetryModule.forRoot({
  metrics: {
    ...blah
    // defaultMetrics: true, <- ** commented this line **
    ...blah
    },
  },
});

[2022-07-25 16:25] lrvinye opened #304 "[HELP] How to use in aws lambda"
when i use this lib in my local dev environment, it works well

But when i move my nestjs app to aws lambda environment,it was just like disappeared totally,
no any span reported

here is my otel SDK exported:
[code]

here is some code in my main.ts
[code]

just dont know which part i missed

[2022-08-03 07:06] darcydai opened #316 "Adapt OTel newer version."
nestjs-otel is using OTel 1.0.1.  the newest release is 1.5.0. Some APIs and SDK changed a lot.

[2022-08-03 20:04] mentos1386 opened #317 "Automatically add Span on every Injectable method, Guards etc."
Could we hook in to @Injectable decorator to automatically discover all classes and their methods. We could then cover them with "@Span" so users wont need to manually add @Span everywhere.

This is implemented by the [@metinseylan/nestjs-opentelemetry](https://github.com/MetinSeylan/Nestjs-OpenTelemetry) as part of [traceAutoInjectors](https://github.com/MetinSeylan/Nestjs-OpenTelemetry/tree/main

[2022-08-03 20:06] mentos1386 commented on #316
@pragmaticivan you mentioned on discord you are making some progress towards this. How are you doing?

I might also have some time to work on this as well.

[2022-08-04 13:55] pragmaticivan commented on #317
@mentos1386 I think the `ideal` place to have something like that is in the actual instrumentation for nestjs. https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-nestjs-core

A lot of it is automatically instrumented in opentelemetry via this plugin and it's compatible with this library already. Extending that kind of work here would dup

[2022-08-04 14:31] mentos1386 commented on #317
Hm yeah. That makes sense. I'll look in to how to do it on the instrumentation level.

[2022-08-04 14:43] pragmaticivan commented on #317
Thanks @mentos1386 !

[2022-08-04 14:43] #317 closed

[2022-08-18 08:51] AskAlice commented on #316
+1 to this

[2022-08-22 07:12] austonpramodh commented on #151
For me, the below worked.

It seems to be an issue with the old version(1.1.0) of `opentelemetry-node-metrics` package being used. Forcing the dependency package manager to install the latest version of  `opentelemetry-node-metrics` did the trick for me.

add the following in `package.json`
![image](https://user-images.githubusercontent.com/5049050/185860000-f9d902b3-2dc2-45db-a481-861cb0f66af8.pn

[2022-08-25 10:48] ruslan-ncg commented on #316
Looks like the are few breaking changes though, is there a list of the working dependencies in the current OTel version?

[2022-08-29 18:13] pragmaticivan commented on #316
ref: https://github.com/pragmaticivan/nestjs-otel/pull/321

[2022-08-29 22:23] pragmaticivan commented on #316
Working example here: https://github.com/pragmaticivan/nestjs-otel-prom-grafana-tempo

[2022-08-29 22:23] #316 closed

[2022-08-29 22:24] pragmaticivan commented on #304
Hi @lrvinye you need to make sure your first line imported in your `main.ts` is `import otelSDK from './tracing';`. Your tracing setup needs to autoload before any nestJS configuration.

[2022-08-29 22:24] #304 closed

[2022-08-29 22:25] pragmaticivan commented on #149
Howdy! I've removed that sample from this repo. Moved to my username profile but will need to spend the time with updating everything.

[2022-08-29 22:25] #149 closed

[2022-08-29 22:25] pragmaticivan commented on #151
Working example here: https://github.com/pragmaticivan/nestjs-otel-prom-grafana-tempo

[2022-08-29 22:25] #151 closed

[2022-11-02 08:18] hejkerooo opened #359 "ApiMetricsMiddleware is not initialized if forRootAsync is used"
to be more specific `ignoreRoutes` param is not being used (as ApiMetricsMiddleware is not initialized) as `configure` method is not being called in OpenTelemetryCoreModule

[2022-11-18 13:54] Songkeys commented on #359
I also noticed this. The [configure](https://github.com/pragmaticivan/nestjs-otel/blob/da59285d80ee7b2ec6d4ea3941119d585a290d7c/src/opentelemetry-core.module.ts#L78) method is not called anywhere in the project

[2022-11-23 13:01] killercup opened #360 "TraceService.getSpan should return Span|undefined"
This function

https://github.com/pragmaticivan/nestjs-otel/blob/da59285d80ee7b2ec6d4ea3941119d585a290d7c/src/tracing/trace.service.ts#L10

calls [this function](https://github.com/open-telemetry/opentelemetry-js/blob/main/api/src/trace/context-utils.ts#L34) in @opentelemetry/api which returns `Span | undefined`.

I'll submit a quick PR as well to just add the `| undefined`, we literally just ran

[2022-11-26 15:24] #360 closed